@model IEnumerable<ASOLHEPA_2.Autorizacione>

@{
    ViewBag.Title = "Listado de Autorizaciones";
}


<table class="tb2">
    <tr>
        <td>
            <h2>Listado de Autorizaciones</h2>
        </td>
        <td class="SideL">
            @Html.ActionLink("Crear Nueva Autorización +", "Create", "", new { @class = "LNK1" })
        </td>
    </tr>
    <tr>
        <td colspan="2">
            @TempData["Message"]
        </td>
    </tr>
</table>


<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Fecha)
        </th>
        <th>
            Fecha Autorización
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Autoriza)
        </th>
        <th>
            Fecha Prescripción
        </th>
        <th>
            Fecha Disfrute Derecho
        </th>
        <th>
            Asociado
        </th>
        <th>
            EntidadesSalud
        </th>
        <th>
            InstitucionesSalud
        </th>
        <th>
            Procedimiento Codigo
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Fecha)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.FechaAutorización)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Autoriza)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.FechaPrescripción)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.FechaDisfruteDerecho)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Asociado.Nombres)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.EntidadesSalud.Nombres)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.InstitucionesSalud.Nombre)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Procedimiento.Codigo)
        </td>
        <td>
            @Html.ActionLink("Editar", "Edit", new { id=item.Id }) |
            @Html.ActionLink("Detalles", "Details", new { id=item.Id }) |
            @Html.ActionLink("Borrar", "Delete", new { id=item.Id })
        </td>
    </tr>
}

</table>
